<!-- URL: http://people.tamu.edu/~lbauskar/about.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/about.css"/>
	</head>
	<body>
		<div id="navbar"> </div>
		<br/>
		<br/>

		<h1 style="text-align: center">About Me</h1>

		<div class="about-writing"> 
			<!-- I would add images to this section, but I don't have any of myself and home is 600 miles away. -->
			<p> Howdy! </p>
			<p> 
				My name is Lalit Bauskar – don’t worry, I can’t pronounce it correctly either. I’m an undergraduate at Texas A&M University where I’m majoring in Computer Science 
				and taking a minor in Mathematics. Currently, I’m looking for an internship for the summer of 2021.
			</p>
			<p> 
				Before I drank the maroon Kool-Aid, I grew up in Brownsville, Texas. I graduated from Homer Hanna Early College High School where I was voted “Least Likely to Get 
				a Haircut”. Back then, I competed at the national level in robotics competitions; my time spent afterschool tinkering with our robots and rewriting their code was 
				what got me interested in pursuing a Bachelor’s in Computer Science. Though I’ve loved puzzles, building stuff, and technology ever since I was a little kid. 
			</p>
			<p>
				I’ve gone to the barber a few times since high school, and my time at college has helped me appreciate things outside my major. My favorite part of attending Texas 
				A&M is being  able to meet so many wonderful people, each with their own unique background and perspective. I’ve become friends with people who, in the past, I 
				never would have thought would even come close to entering my social circle, and I’m a better person for it. Being in the company of such a diverse group of people 
				has broadened my perspective and introduced ideas and concepts that I would have never though of myself.  I think it’s easy for programmers to get lost in a sea of 
				algorithms, languages, and the bleeding edge of technology, and we often neglect to foster our soft skills as much as our left-brained ones. My role as a peer 
				mentor last year and an <span title="Resident Advisor"> RA </span> this year has helped me put people ahead of technology, because they ultimately matter more. 
				The best software in the world doesn’t mean anything if no one uses it.
			</p>
			<p>
				That’s not to say I don’t spend a lot of time programming. I’ve worked on projects with the <a href="http://aggiecodingclub.com/" class="link"> Aggie Coding Club </a> 
				for the past year, and I was a member of Project SOAR – where we wrote the firmware for a drone we designed and built. I’ve also made some personal projects which you 
				can see on my <a href="https://github.com/lbauskar" class="link"> GitHub </a> or <a href="/portfolio" class="link"> portfolio page.</a> In the 
				future, I hope to combine my experiences with software development and peer mentorship to create technology that makes people’s lives better.
			</p>
		</div>
		
		<script type="text/JavaScript" src="/js/global.js"></script>
	</body>
</html>