<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/experience.css"/>
	</head>
	<body>
		<%- navbar %>
		<br/>

		<h1 class="text-center">Experience</h1>

		<div class="container">
			<ul class="nav nav-pills mb-3">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="pill" href="#bonfire" role="tab" aria-controls="bonfire" aria-selected="true"> 
						Student Bonfire 
					</a>
				</li>
				<li>
					<a class="nav-link" data-toggle="pill" href="#bvfb" role="tab" aria-controls="bvfb" aria-selected="false"> 
						Brazos Valley Food Bank 
					</a>
				</li>
				<li>
					<a class="nav-link" data-toggle="pill" href="#honors" role="tab" aria-controls="bvfb" aria-selected="false"> 
						University Honors
					</a>
				</li>
			</ul>
	
			<div class="tab-content pt-2">
				<div class="tab-pane fade show active" id="bonfire" role="tabpanel" aria-labelledby="bonfire-tab">
					<h2> <a href="http://www.studentbonfire.com"> Student Bonfire </a> (2018 - Present) </h2>
					<div class = "row">
						<div class="col-lg-4">
							<img src="/img/sb.jpg" class="w-100" alt=""/>
							<p> Special thanks to <a href="https://twitter.com/missbrightsky">Madeline</a> for taking this photo! </p>
						</div>
						<div class="col-lg-8">
							
							<h4 class="font-italic"> "Bonfire is the undying flame that every loyal Aggie carries in their heart for the school." </h4>
							<p class="description"> 
								Student Bonfire is also a 501(c)(3) non-profit organization that helps farmers and Habitat for Humanity clear land in the Bryan-College Station area for 
								agricultural development and low-income housing respectively. <br/> <br/>
	
								The time I've spent with Bonfire has been some of the most intense, grueling moments of my life, and I don't regret a second of it. I'm able to physically see
								the impact I'm having on my community when I'm clearing land, and I've gained a newfound respect for many of my school's traditions and for its history. Most of all,
								I've made many friends who I never would have interacted with otherwise. Personal differences fade away and it's easy to bond when you're all under the same log.
							</p>
						</div>
					</div>
				</div>
	
				<div id="bvfb" class="tab-pane fade" role="tabpanel" aria-labelledby="bvfb-tab">
					<h2> <a href="https://www.bvfb.org">Brazos Valley Food Bank</a> (2019 - Present) </h2> 
					<div class = "row">
						<div class="col-lg-4">
							<img src="/img/bvfb.jpg" class="w-100" alt=""/>
							<p> A group picture taken after working a shift. I'm in the top right. </p>
						</div>
						<div class="col-lg-8">
							<h4 class="font-italic" style="margin-right: 5ch;"> "The Brazos Valley Food Bank unites our community to nourish our neighbors in need." </h4>
							<p class="description"> 
								The Brazos Valley Food Bank distributes food and other essential health items to residents in the Brazos, Burleson, Grimes, Madison, Robertson, and 
								Washington counties. It's been given a 4-star rating by Charity Navigator - the nation's largest charity auditor - for 8 years, which puts the BVFB in 
								the top 4% of charities that have been rated. <br/> <br/>
	
								I've worked multiple two hour shifts across many weekends in the BVFB's warehouse. Responsibilities I've had include: sorting incoming shipments of canned 
								and prepackaged food, cutting, organizing and verifying the freshness of produce, tracking what we do receive so the BVFB can figure out what we need more of, 
								and packaging individual meals for food-insecure children to eat over the weekend. <br/> <br/>
								
								I'm proud of the time I've spent with the BVFB because the work I've done there has helped the people in the community who need it most.
							</p>
						</div>
					</div>
				</div>
	
				<div id="honors" class="tab-pane fade"  role="tabpanel" aria-labelledby="honors-tab">
					<h2> <a href="http://launch.tamu.edu/Honors">University Honors</a> (2019 - 2020) </h2> 
					<div class = "row">
						<div class="col-lg-4">
							<img src="/img/sa.jpg" class="w-100" alt=""/>
							<p> The Sophomore Advisors' first picture after training. </p>
						</div>
						<div class="col-lg-8">
							<h4 class="font-italic" style="margin-right: 5ch;"> 
								"The University Honors Program challenges high-achieving undergraduate students to develop the personal, professional, and intellectual skills 
								they will need to address tomorrow's multifaceted problems." 
							</h4>
							<p class="description"> 
								University Honors helped me immerse myself into the college my freshman year. Not only did Honors connect me to a bunch of other organizations, 
								my Sophomore Advisor (or peer mentor) assisted me in navigating college life. She answered questions I couldn't find figure out and gave me really 
								helpful advice that I wouldn't have ever known to ask for. <br/> <br/>
	
								I knew I wanted to give back to Honors, so I applied to be a Sophomore Advisor at the end of my freshman year. When I got the position, I was ecstatic, and I'm just 
								as happy about it now after the fact. The work I did was fulfilling. I helped 13 freshmen transition to a new phase in their life just how my own advisor helped me. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>