<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description"
			content="Lalit Bauskar's personal website. Showcases his portfolio, work experience, extracurricular involvement, and contact information.">
		
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "ProfilePage",
				"author": {
					"type": "Person",
					"name": "Lalit Bauskar"
				},
				"datePublished": "2021-06-08",
				"description": "Lalit Bauskar's personal website and portfolio."
			}
		</script>


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Lato&display=swap"/> 
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>

		<!--favicon stuff-->
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/site.webmanifest">
	</head>
	<body>
	<div class="container" style="padding: 0; min-width: 100%;"> <!--makes sticky navbar work -->

		<!-- Home -->
		<div class="container-fluid text-center pt-2 section" id="home">
			<div class="title">
				<h1>
					Hello! I'm
					<span id="name-span"><!-- Lalit Bauskar --></span><span id="cursor">_</span>
					<br/> – a CS senior at Texas A&M.
				</h1>
			</div>

			<br/>
			<a class="btn btn-outline-light" onclick="scrollToID('about');" id="see-more-btn">
				<span class="h3"> See more </span> 
			</a>
		</div>

		<!-- Navbar -->
		<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" id="navbar">
			<div class="container h5">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active" id="home-nav-item">
							<a class="nav-link" onclick="scrollToID('home');"> Home </a>
						</li>
						<li class="nav-item" id="about-nav-item">
							<a class="nav-link" onclick="scrollToID('about');">About</a>
						</li>
						<li class="nav-item" id="projects-nav-item">
							<a class="nav-link" onclick="scrollToID('projects');"> Projects </a>
						</li>
						<li class="nav-item" id="experience-nav-item">
							<a class="nav-link" onclick="scrollToID('experience');"> Experience </a>
						</li>
						<li class="nav-item" id="contact-nav-item">
							<a class="nav-link" onclick="scrollToID('contact');"> Contact </a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- About -->
		<div class="container" id="about-wrapper">
		<div class="container section" id="about">
			<br/> <br/> <br/>
			<h1 class="text-center"> About </h1>
			<br/>
			<div class="container">
				<div class="row">
					<div class="col-md text-center">
						<img src="img/me-25.jpg" class="me" alt="Picture of me staring into the sun" loading="lazy">
						<br/> <br/>
						<h2> So who are you?</h2>
						<p> 
							I'm an undergraduate at Texas A&M University where I'm getting a Bachelors in Computer Science with a minor in Mathematics.
							I love creatively solving problems and taking a hands-on approach to learning new tools and skills. I grew up on the border town
							of Brownsville, TX, and I'm passionate about making technical fields more accessible to everyone. My expected graduation date is May 2022.
							<br/> <br/>
							If you want a printable overview of things I've done, you can download my resume below.
							<br/> <br/>
							<a class="btn btn-outline-danger" style="font-size: larger; font-family: sans-serif;"  href="/resume">
								<span class="fa fa-file"> </span> Resume
							</a>
						</p>
					</div>
					<div class="col-md" style="align-self: center;" id="skill-stars">
						<% for (const star of stars) { %>
							<%- star.toHTML() %>
						<% } %>
					</div>
				</div>
				<br/>
			</div>
		</div>
		</div>

		<!-- Projects -->
		<div class="container" id="projects-wrapper">
		<div class="container section" id="projects">
			<br/> <br/> </br/>
			<h1> Projects </h1>
			<br/>
			
			<div class="container flex gallery">
				<% for (const project of projects) { %>
					<%- project.tileHTML() %>
				<% } %>
			</div>

			<div class="modals">
				<% for (const project of projects ) { %>
					<%- project.modalHTML() %>
				<% } %>
			</div>
			
			<br/>
		</div>
		</div>

		<!-- Experience -->
		<div class="container" id="experience-wrapper">
		<div class="container section" id="experience">
				<br/> <br/> </br/>
				<h1> Experience </h1>
				<br/>

				<div class="container flex gallery">
					<div class="gallery-item">
						<img src="img/experience/ra.jpg" alt="Promotional Resident Advisor picture" loading="lazy"/>
						<div class="text">
							<h4> Resident Advisor </h4>
							<p> Employment </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#ra-modal').modal('show');"> Details </a>
						</div>
					</div>
	
					<div class="gallery-item">
						<img src="img/experience/sa.jpg" alt="Sophomore Advisor team after training" loading="lazy"/>
						<div class="text">
							<h4> Sophomore Advisor </h4>
							<p> Employment </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#sa-modal').modal('show');"> Details </a>
						</div>
					</div>
	
					<div class="gallery-item">
						<img src="img/experience/code.jpg" alt="Code on a laptop" loading="lazy"/>
						<div class="text">
							<h4> Texas A&M Competitive Programming </h4>
							<p> Extracurricular Organization </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#icpc-modal').modal('show');"> Details </a>
						</div>
					</div>
	
					<div class="gallery-item">
						<img src="img/experience/bonfire.jpg" alt="Students carrying a log out of the woods" loading="lazy"/>
						<div class="text">
							<h4> Student Bonfire </h4>
							<p> Community Service </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#bonfire-modal').modal('show');"> Details </a>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="ra-modal" tabindex="-1" role="dialog" aria-label="GroupMe Bot Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/ra.jpg" alt="Promotional Resident Advisor picture" loading="lazy"/>
							<div class="text">
								<h2> Resident Advisor </h2>
								<h3> Texas A&M Dept. of Residence Life | 2020 - Present </h3>
								<hr>
								<ul> 
									<li> Keep residents informed of policies and work on-call shifts to handle emergencies </li>
									<li> Open and close the dorms, then inspect them throughout the year </li>
									<li> Work with 11 other Resident Advisors to ensure a safe and welcoming community </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="sa-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/sa.jpg" alt="Sophomore Advisor team after training" loading="lazy"/>
							<div class="text">
								<h2> Sophomore Advisor </h2>
								<h3> Texas A&M University Honors | 2019 - 2020 </h3>
								<hr>
								<ul>
									<li> Led weekly seminar meetings to help freshmen adjust to college life and promote personal growth </li>
									<li> Planned and ran events for the Honors Housing Community </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="icpc-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/code.jpg" alt="Code on a laptop" loading="lazy"/>
							<div class="text">
								<h2> Competitive Programmer </h2>
								<h3> Texas A&M Competitive Programming Team | 2019 - 2021 </h3>
								<hr>
								<ul> 
									<li> One of ten competitors selected from pool of ~100 through local competition, twice </li>
									<li> Participated in the International Competitive Programming Competition </li>
									<li> Primarily used C++ and Python 3 </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="bonfire-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/bonfire.jpg" alt="Students carrying a log out of the woods" loading="lazy"/>
							<div class="text">
								<h2> Volunteer </h2>
								<h3> Student Bonfire | 100+ Hours | 2018 - 2020 </h3>
								<hr>
								<ul>
									<li> 501(c)(3) non-profit organization </li>
									<li> Cleared land for local farmers to promote agricultural development in the Brazos Valley </li>
									<li> Took part in a tradition that's over a century old </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<br/>
		</div>
		</div>
		
		<!-- Contact -->
		<div class="container" id="contact-wrapper">
		<div class="container" id="contact">
			<br/>
			<h1> Contact </h1>
			<br/>
			<p style="font-size: large;"> Let's keep in touch </p>

			<div class="flex" id="contact-buttons">
				<a class="btn btn-outline-info" href="https://linkedin.com/in/lalit-bauskar" target="_blank" rel="noreferrer" title="LinkedIn">
					<i class="fa fa-linkedin"> </i>
				</a>
				<a class="btn btn-outline-info" href="https://github.com/lbauskar" target="_blank" rel="noreferrer" title="GitHub">
					<i class="fa fa-github"> </i>
				</a>
				<a class="btn btn-outline-info" href="mailto:labauskar@gmail.com" target="_blank" rel="noreferrer" title="Email">
					<i class="fa fa-envelope"> </i>
				</a>
			</div>
			<br/>
		</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/three@0.129.0/build/three.min.js" integrity="sha256-qdgepj/cuK3QsiLmELb2ouRo37UbWaIhCJmRisNu0/c=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
		<script src="/vendor/jquery.appear.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
		<script src="/js/index.js"></script>

	</div>
	</body>
</html>
