<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento"/> <!-- fonts -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/> <!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	</head>
	<body>
	<div class="container" style="min-width: 100%; padding: 0;">
		<div class="container-fluid text-center pt-2 section" id="home">
			<div class="title">
				<h1>
					Hello! I'm <span id="name-span"><!-- Lalit Bauskar --></span><span id="cursor">_</span>
					<br/> – a CS senior at Texas A&M.
				</h1>
			</div>

			<br/>
			<a class="btn btn-outline-light" onclick="scrollToID('about');" id="see-more-btn">
				<span class="h3"> See more </span> 
			</a>
		</div>

		<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" id="navbar">
			<div class="container h5">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active" id="home-nav-item">
							<a class="nav-link" onclick="scrollToID('home');"> Home </a>
						</li>
						<li class="nav-item" id="about-nav-item">
							<a class="nav-link" onclick="scrollToID('about');">About</a>
						</li>
						<li class="nav-item" id="projects-nav-item">
							<a class="nav-link" onclick="scrollToID('projects');"> Projects </a>
						</li>
						<li class="nav-item" id="experience-nav-item">
							<a class="nav-link" onclick="scrollToID('experience');"> Experience </a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container" id="about-wrapper">
		<div class="container section" id="about">
			<br/> <br/> <br/>
			<h1 class="text-center"> About </h1>
			<br/>
			<div class="container">
				<div class="row">
					<div class="col-md text-center" style="font-family: 'Quattrocento', serif;">
						<img src="img/me-25.jpg" class="me" alt="Picture of me staring into the sun" loading="lazy">
						<br/> <br/>
						<h3 class="font-weight-bold font-italic"> So who are you?</h3>
						<p> 
							I'm an undergraduate at Texas A&M University where I'm getting a Bachelors in Computer Science with a minor in Mathematics.
							I love creatively solving problems and taking a hands-on approach to learning new tools and skills. I grew up on the border town
							of Brownsville, TX, and I'm passionate about making technical fields more accessible to everyone. My expected graduation date is May 2022.
							<br/> <br/>
							If you want a printable overview of things I've done, you can download my resume below. Otherwise, keep scrolling!
							<br/> <br/>
							<a class="btn btn-outline-danger" style="font-size: larger; font-family: sans-serif;"  href="src/Resume.pdf">
								<span class="fa fa-file"> </span> Resume
							</a>
						</p>
					</div>
					<div class="col-md" style="align-self: center;">
						<div class="container" id="skill-stars">
							<div class="row">
								<div class="col-5 stars-label"> C++ </div>
								<div class="col-7 stars 5-star" aria-label="5 out of 5 stars"> </div>
							</div>
							<div class="row">
								<div class="col-5 stars-label"> Python </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> JavaScript </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> NodeJS </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Ruby/Rails </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Java </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars"> </div>
							</div>

							<br/>

							<div class="row">
								<div class="col-5 stars-label"> Git </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars">
								</div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Agile </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars">
								</div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> OOP </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars">
								</div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Full-Stack </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> APIs </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars">
								</div>
							</div>
						</div>
					</div>
				</div>
				<br/>
			</div>
		</div>
		</div>

		<div class="container" id="projects-wrapper">
		<div class="container section" id="projects">
			<br/> <br/> </br/>
			<h1> Projects </h1>
			<br/>
			
			<div class="container flex gallery">
				<div class="gallery-item">
					<img src="img/projects/groupme.jpg" alt="Phones using GroupMe"/>
					<div class="text">
						<h4> GroupMe Bot </h4>
						<p> Python </p>
					</div>
				</div>

				<div class="gallery-item">
					<img src="img/projects/kanban.jpg" alt="Woman using Kanban board"/>
					<div class="text">
						<h4> Kanban for VSCode </h4>
						<p> JavaScript </p>
					</div>
				</div>

				<div class="gallery-item">
					<img src="img/projects/pathfinding.jpg" alt="Dashed line on map"/>
					<div class="text">
						<h4> Pathfinding Visualizer </h4>
						<p> Java </p>
					</div>
				</div>

				<div class="gallery-item">
					<img src="img/projects/rotaract.jpg" alt="Volunteers distributing goods"/>
					<div class="text">
						<h4> Rotaract Event Tracker </h4>
						<p> Ruby on Rails </p>
					</div>
				</div>
			</div>
		</div>
		</div>

		<div class="container" id="experience-wrapper">
			<div class="container section" id="experience">
				<br/> <br/> </br/>
				<h1> Experience </h1>
			
			</div>
			</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/three@0.129.0/build/three.min.js" integrity="sha256-qdgepj/cuK3QsiLmELb2ouRo37UbWaIhCJmRisNu0/c=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
		<script src="/vendor/jquery.appear.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
		<script src="/js/index.js"></script>
	</div>
	</body>
</html>
