<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Lato"/> 
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>

		<!--favicon stuff-->
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/site.webmanifest">
	</head>
	<body>
	<div class="container" style="min-width: 100%; padding: 0;">
		<div class="container-fluid text-center pt-2 section" id="home">
			<div class="title">
				<h1>
					Hello! I'm <span id="name-span"><!-- Lalit Bauskar --></span><span id="cursor">_</span>
					<br/> – a CS senior at Texas A&M.
				</h1>
			</div>

			<br/>
			<a class="btn btn-outline-light" onclick="scrollToID('about');" id="see-more-btn">
				<span class="h3"> See more </span> 
			</a>
		</div>

		<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" id="navbar">
			<div class="container h5">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active" id="home-nav-item">
							<a class="nav-link" onclick="scrollToID('home');"> Home </a>
						</li>
						<li class="nav-item" id="about-nav-item">
							<a class="nav-link" onclick="scrollToID('about');">About</a>
						</li>
						<li class="nav-item" id="projects-nav-item">
							<a class="nav-link" onclick="scrollToID('projects');"> Projects </a>
						</li>
						<li class="nav-item" id="experience-nav-item">
							<a class="nav-link" onclick="scrollToID('experience');"> Experience </a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container" id="about-wrapper">
		<div class="container section" id="about">
			<br/> <br/> <br/>
			<h1 class="text-center"> About </h1>
			<br/>
			<div class="container">
				<div class="row">
					<div class="col-md text-center">
						<img src="img/me-25.jpg" class="me" alt="Picture of me staring into the sun" loading="lazy">
						<br/> <br/>
						<h2> So who are you?</h2>
						<p> 
							I'm an undergraduate at Texas A&M University where I'm getting a Bachelors in Computer Science with a minor in Mathematics.
							I love creatively solving problems and taking a hands-on approach to learning new tools and skills. I grew up on the border town
							of Brownsville, TX, and I'm passionate about making technical fields more accessible to everyone. My expected graduation date is May 2022.
							<br/> <br/>
							If you want a printable overview of things I've done, you can download my resume below.
							<br/> <br/>
							<a class="btn btn-outline-danger" style="font-size: larger; font-family: sans-serif;"  href="src/Resume.pdf">
								<span class="fa fa-file"> </span> Resume
							</a>
						</p>
					</div>
					<div class="col-md" style="align-self: center;">
						<div class="container" id="skill-stars">
							<div class="row">
								<div class="col-5 stars-label"> C++ </div>
								<div class="col-7 stars 5-star" aria-label="5 out of 5 stars"> </div>
							</div>
							<div class="row">
								<div class="col-5 stars-label"> Python </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> JavaScript </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> NodeJS </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Ruby/Rails </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Java </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars"> </div>
							</div>

							<br/>

							<div class="row">
								<div class="col-5 stars-label"> Git </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars">
								</div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Agile </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars">
								</div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> OOP </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars">
								</div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> Full-Stack </div>
								<div class="col-7 stars 4-star" aria-label="4 out of 5 stars"> </div>
							</div>

							<div class="row">
								<div class="col-5 stars-label"> APIs </div>
								<div class="col-7 stars 3-star" aria-label="3 out of 5 stars">
								</div>
							</div>
						</div>
					</div>
				</div>
				<br/>
			</div>
		</div>
		</div>

		<div class="container" id="projects-wrapper">
		<div class="container section" id="projects">
			<br/> <br/> </br/>
			<h1> Projects </h1>
			<br/>
			
			<div class="container flex gallery">
				<div class="gallery-item">
					<img src="img/projects/groupme.jpg" alt="Phones using GroupMe" loading="lazy"/>
					<div class="text">
						<h4> GroupMe Bot </h4>
						<p> Python </p>
						<a class="btn btn-outline-dark" tabindex="0" onclick="$('#groupme-modal').modal('show');"> Details </a>
					</div>
				</div>

				<div class="gallery-item">
					<img src="img/projects/kanban.jpg" alt="Woman using Kanban board" loading="lazy"/>
					<div class="text">
						<h4> Kanban for VS Code </h4>
						<p> JavaScript, TypeScript </p>
						<a class="btn btn-outline-dark" tabindex="0" onclick="$('#kanban-modal').modal('show');"> Details </a>
					</div>
				</div>

				<div class="gallery-item">
					<img src="img/projects/pathfinding.jpg" alt="Dashed line on map" loading="lazy"/>
					<div class="text">
						<h4> Pathfinding Visualizer </h4>
						<p> Java </p>
						<a class="btn btn-outline-dark" tabindex="0" onclick="$('#pathfinding-modal').modal('show');"> Details </a>
					</div>
				</div>

				<div class="gallery-item">
					<img src="img/projects/rotaract.jpg" alt="Volunteers distributing goods" loading="lazy"/>
					<div class="text">
						<h4> Rotaract Event Tracker </h4>
						<p> Ruby on Rails, PostgreSQL </p>
						<a class="btn btn-outline-dark" tabindex="0" onclick="$('#rotaract-modal').modal('show');"> Details </a>
					</div>
				</div>

				<div class="gallery-item">
					<img src="img/projects/soar.jpg" alt="Flying quadcopter" loading="lazy"/>
					<div class="text">
						<h4> Project SOAR </h4>
						<p> C++ </p>
						<a class="btn btn-outline-dark" tabindex="0" onclick="$('#soar-modal').modal('show');"> Details </a>
					</div>
				</div>
			</div>

			<div class="modal modal-fade" id="groupme-modal" tabindex="-1" role="dialog" aria-label="GroupMe Bot Modal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered project-modal" role="document">
					<div class="modal-content">
						<img src="img/projects/groupme.jpg" alt="Phones using GroupMe" loading="lazy"/>
						<div class="text">
							<h2> GroupMe Bot </h2>
							<h3> Chat bot that helps facilitate communication in large group chats </h3>
							<hr>
							<ul> 
								<li> Uses Python 3 and Flask; deployed on Heroku </li>
								<li> Automated greetings for new users and macros for regular users </li>
								<li> "@everyone" to notify all members of a group chat </li>
							</ul>
							<a class="btn btn-outline-success" href="https://github.com/lbauskar/groupme-bot" target="_blank" rel="noreferrer">
								<i class="fa fa-github"> </i>
								Repository
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal modal-fade" id="kanban-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered project-modal" role="document">
					<div class="modal-content">
						<img src="img/projects/kanban.jpg" alt="Woman using Kanban Board" loading="lazy"/>
						<div class="text">
							<h2> Kanban for Visual Studio Code </h2>
							<h3> Extension used to visually organize tasks </h3>
							<hr>
							<ul>
								<li> Written in HTML, CSS, TypeScript, and JavaScript </li>
								<li> Automatically creates a new board for each project </li>
								<li> <em> "In the whole of VS Code extensions, yours was the simplest to use and most flexible." </em> </li>
							</ul>
							<a class="btn btn-outline-success" href="https://github.com/lbauskar/kanban" target="_blank" rel="noreferrer">
								<i class="fa fa-github"> </i>
								Repository
							</a>
							<a class="btn btn-outline-primary" href="https://marketplace.visualstudio.com/items?itemName=lbauskar.kanban" target="_blank" rel="noreferrer">
								<i class="fa fa-download"> </i>
								Download
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal modal-fade" id="pathfinding-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered project-modal" role="document">
					<div class="modal-content">
						<img src="img/projects/pathfinding.jpg" alt="Dashed line on a map" loading="lazy"/>
						<div class="text">
							<h2> Pathfinding Visualizer </h2>
							<h3> GUI program that shows how pathfinding algorithms work </h3>
							<hr>
							<ul> 
								<li> Java application using Swing for GUI elements </li>
								<li> Gradle project with 100% test coverage and documentation </li>
								<li> Draw obstacles to navigate around or auto-generate a maze </li>
							</ul>
							<a class="btn btn-outline-success" href="https://github.com/lbauskar/java-pathfinding-visualizer" target="_blank">
								<i class="fa fa-github"> </i>
								Repository
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal modal-fade" id="rotaract-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered project-modal" role="document">
					<div class="modal-content">
						<img src="img/projects/rotaract.jpg" alt="Volunteers handing out goods" loading="lazy"/>
						<div class="text">
							<h2> Aggie Rotaract Event Tracker </h2>
							<h3> Web app for members to schedule and attend charitable events </h3>
							<hr>
							<ul>
								<li> Ruby on Rails website using PostgreSQL for the backend </li>
								<li> Integrated with school emails, no additional signup necessary </li>
								<li> CI/CD implemented with GitHub actions and Heroku pipeline </li>
							</ul>
							<a class="btn btn-outline-danger" style="pointer-events: none;">
								<i class="fa fa-lock"> </i>
								Private Repository
							</a>
							<a class="btn btn-outline-primary" href="http://aggie-rotaract.herokuapp.com" target="_blank" rel="noreferrer">
								<i class="fa fa-link"> </i>
								Visit
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal modal-fade" id="soar-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered project-modal" role="document">
					<div class="modal-content">
						<img src="img/projects/soar.jpg" alt="Flying quadcopter" loading="lazy"/>
						<div class="text">
							<h2> Project SOAR </h2>
							<h3> Quadcopter controlled by tilting motors </h3>
							<hr>
							<ul>
								<li> Substantially edited <a href="https://github.com/PX4/PX4-Autopilot" target="_blank">Pixhawk firmware</a> to support motor tilting</li>
								<li> Personally added code to support multiple control options, making the drone easier to pilot </li>
								<li> Worked as a team with ~10 programmers; coordinated with piloting and electronics teams </li>
							</ul>
							<a class="btn btn-outline-danger" style="pointer-events: none;">
								<i class="fa fa-lock"> </i>
								Private Repository
							</a>
						</div>
					</div>
				</div>
			</div>

			<br/>
		</div>
		</div>

		<div class="container" id="experience-wrapper">
			<div class="container section" id="experience">
				<br/> <br/> </br/>
				<h1> Experience </h1>
				<br/>

				<div class="container flex gallery">
					<div class="gallery-item">
						<img src="img/experience/ra.jpg" alt="Promotional Resident Advisor picture" loading="lazy"/>
						<div class="text">
							<h4> Resident Advisor </h4>
							<p> Employment </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#ra-modal').modal('show');"> Details </a>
						</div>
					</div>
	
					<div class="gallery-item">
						<img src="img/experience/sa.jpg" alt="Sophomore Advisor team after training" loading="lazy"/>
						<div class="text">
							<h4> Sophomore Advisor </h4>
							<p> Employment </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#sa-modal').modal('show');"> Details </a>
						</div>
					</div>
	
					<div class="gallery-item">
						<img src="img/experience/code.jpg" alt="Code on a laptop" loading="lazy"/>
						<div class="text">
							<h4> Texas A&M Competitive Programming </h4>
							<p> Extracurricular Organization </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#icpc-modal').modal('show');"> Details </a>
						</div>
					</div>
	
					<div class="gallery-item">
						<img src="img/experience/bonfire.jpg" alt="Students carrying a log out of the woods" loading="lazy"/>
						<div class="text">
							<h4> Student Bonfire </h4>
							<p> Community Service </p>
							<a class="btn btn-outline-dark" tabindex="0" onclick="$('#bonfire-modal').modal('show');"> Details </a>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="ra-modal" tabindex="-1" role="dialog" aria-label="GroupMe Bot Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/ra.jpg" alt="Promotional Resident Advisor picture" loading="lazy"/>
							<div class="text">
								<h2> Resident Advisor </h2>
								<h3> Texas A&M Dept. of Residence Life | 2020 - Present </h3>
								<hr>
								<ul> 
									<li> Keep residents informed of policies and work on-call shifts to handle emergencies </li>
									<li> Open and close the dorms, then inspect them throughout the year </li>
									<li> Work with 11 other Resident Advisors to ensure a safe and welcoming community </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="sa-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/sa.jpg" alt="Sophomore Advisor team after training" loading="lazy"/>
							<div class="text">
								<h2> Sophomore Advisor </h2>
								<h3> Texas A&M University Honors | 2019 - 2020 </h3>
								<hr>
								<ul>
									<li> Led weekly seminar meetings to help freshmen adjust to college life and promote personal growth </li>
									<li> Planned and ran events for the Honors Housing Community </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="icpc-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/code.jpg" alt="Code on a laptop" loading="lazy"/>
							<div class="text">
								<h2> Competitive Programmer </h2>
								<h3> Texas A&M Competitive Programming Team | 2019 - 2021 </h3>
								<hr>
								<ul> 
									<li> One of ten competitors selected from pool of ~100 through local competition, twice </li>
									<li> Participated in the International Competitive Programming Competition </li>
									<li> Primarily used C++ and Python 3 </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	
				<div class="modal modal-fade" id="bonfire-modal" tabindex="-1" role="dialog" aria-label="Kanban Board Modal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered project-modal" role="document">
						<div class="modal-content">
							<img src="img/experience/bonfire.jpg" alt="Students carrying a log out of the woods" loading="lazy"/>
							<div class="text">
								<h2> Volunteer </h2>
								<h3> Student Bonfire | 100+ Hours | 2018 - 2020 </h3>
								<hr>
								<ul>
									<li> 501(c)(3) non-profit organization </li>
									<li> Cleared land for local farmers to promote agricultural development in the Brazos Valley </li>
									<li> Took part in a tradition that's over a century old </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/three@0.129.0/build/three.min.js" integrity="sha256-qdgepj/cuK3QsiLmELb2ouRo37UbWaIhCJmRisNu0/c=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
		<script src="/vendor/jquery.appear.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
		<script src="/js/index.js"></script>
	</div>
	</body>
</html>
