<!DOCTYPE html>
<htm lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/portfolio.css"/>
	</head>
	<body>
		<%- navbar %>
		
		<div class="container text-center">
			<h1>Portfolio</h1>

			<p>
				The cards below showcase some programming projects I've made. Click on them to see their respective repository. You can also go to my 
				<a href="https://github.com/lbauskar" class="link">Github</a> directly and browse from there. 
			</p>

			<div class="card-deck">
				<div class="card">
					<img src="img/groupme-code.png" class="card-img-top" alt=""/>
					<div class="card-body text-center">
						<h1 class="card-title"> GroupMe Bot (Python) </h1>
						<p  class="card-text"> 
							I made this bot to help coordinate with coworkers and manage large group chats. This bot can mention everyone in a chat with 
							"@everyone", automatically greet new users who join a chat, and much more! This program is meant to run on the cloud so that the bot is always active.
						</p>
						<a href="https://github.com/lbauskar/groupme-bot" class="stretched-link"></a>
					</div>
				</div>

				<div class="card">
					<img src="/img/kanban.png" class="card-img-top" alt=""/>
					<div class="card-body">
						<h1 class="card-title"> Kanban (JavaScript) </h1>
						<p class="card-text"> 
							This extension for Visual Studio Code implements a Kanban Board for every workspace.
						</p>
						<a href="https://github.com/lbauskar/kanban" class="stretched-link"></a>
					</div>
				</div>

				<div class="card">
					<img src="/img/pathfinding.png" class="card-img-top" alt=""/>
					<div class="card-body">
						<h1 class="card-title"> Pathfinding Visualizer (Java) </h1>
						<p class="card-text"> 
							This executable allows you to see how pathfinding algorithms work by animating them. 
							You can draw a maze or let the program generate one for you. After that just 
							click start and you'll see the algorithm in action. 
						</p>
						<a href="https://github.com/lbauskar/java-pathfinding-visualizer" class="stretched-link"></a>
					</div>
				</div>
			</div>
		</div>

		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>