<!-- URL: http://people.tamu.edu/~lbauskar/portfolio.html -->
<!DOCTYPE html>
<htm lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/portfolio.css"/>
	</head>
	<body>
		<div id="navbar"> </div>
		<br/>
		<br/>

		<div style="text-align: center;"> 
			<h1>Portfolio</h1>

			<p>
				The cards below showcase some programming projects I've made. Click on them to see their respective repository. You can also go to my 
				<a href="https://github.com/lbauskar" class="link">Github</a> directly and browse from there. 
			</p>
		</div>
		


		<div id="card-container">

			<a href="https://github.com/lbauskar/GroupmeDormBot">
				<div class="card">
					<img src="img/groupme-code.png" class="card-img" alt=""/>
					<div class="card-label">
						<h1> GroupMe Bot (Python) </h1>
						<p> 
							I made this bot to help coordinate with coworkers and manage large group chats. This bot can mention everyone in a chat with 
							"@everyone", automatically greet new users who join a chat, and much more! This program is meant to run on the cloud so that the bot is always active.
						</p> 
					</div>
				</div>
			</a>


			<a href="https://github.com/lbauskar/java-algorithm-visualizer">
				<div class="card">
					<img src="/img/algorithm-visualizer.png" class="card-img" alt=""/>
					<div class="card-label">
						<h1> Kanban (JavaScript) </h1>
						<p> 
							This extension for Visual Studio Code implements a Kanban Board for every workspace.
						</p> 
					</div>
				</div>
			</a>

			<a href="https://github.com/lbauskar/kanban">
				<div class="card">
					<img src="/img/algorithm-visualizer.png" class="card-img" alt=""/>
					<div class="card-label">
						<h1> Algorithm Visualizer (Java) </h1>
						<p> 
							This executable allows you to see how pathfinding algorithms work by animating them. 
							You can draw a maze or let the program generate one for you. After that just 
							click start and you'll see the algorithm in action. 
						</p> 
					</div>
				</div>
			</a>

		</div>
		
		<script type="text/JavaScript" src="/js/navbar.js"></script>
	</body>
</html>