<!-- URL: http://people.tamu.edu/~lbauskar/qualifications.html -->
<!DOCTYPE html>
<html>
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
		<link rel="stylesheet" type="text/css" href="css/qualifications.css"/>
	</head>
	<body>
		<div id="navbar"> </div>
		<br/>
		<br/>

		<h1 style="text-align: center;">Qualifications</h1>

		<iframe src="src/resume.pdf#view=fitH,100" id="resume"></iframe> <!--fitH zooms pdf to fill iframe-->
		
		<script type="text/JavaScript" src="js/global.js"></script>
	</body>
</html>