<!-- URL: http://people.tamu.edu/~lbauskar/secret.html -->
<!DOCTYPE html>

<meta http-equiv="Refresh" content="0; url='dir/ExerciseFunctions.html'" />

<html>
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
		<link rel="stylesheet" type="text/css" href="css/service.css"/>
	</head>
	<body>
		<div id="navbar"> </div>
		<br/>
		<br/>

        <h1>Under Construction</h1>
        <h3>Sorry, this part of the website hasn't been built yet. Please use the navigation pane above to go back to the completed part of the site.</h3>
        <h2>Thank you!</h2>
		
		<script type="text/JavaScript" src="js/global.js"></script>
	</body>
</html>