<!-- URL: http://people.tamu.edu/~lbauskar/service.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lalit Bauskar</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="/css/service.css"/>
	</head>
	<body>
		<div id="navbar"> </div>
		<br/>
		<br/>

		<h1 style="text-align: center;">Service</h1>

		<div style="width: 75%; margin-left: 12.5%;">
			<button class="tab" id="tab-1" onclick="openTab('T1', 'tab-1', 'RoyalBlue')"> Student Bonfire </button>
			<button class="tab" id="tab-2" onclick="openTab('food-bank', 'tab-2', 'ForestGreen')"> Brazos Valley Food Bank </button>
			<button class="tab" id="tab-last" onclick="openTab('T3', 'tab-last', 'maroon')"> University Honors </button>

			<div id="T1" class="tab-content">
				<h2> <a href="http://www.studentbonfire.com">Student Bonfire</a> (2018 - Present) </h2> 
				<div class = "row">
					<div style="flex: 33%">
						<img src="/img/sb.jpg" alt=""/>
						<p> Special thanks to <a href="https://twitter.com/missbrightsky">Madeline</a> for taking this photo! </p>
					</div>
					<div style="flex: 50%">
						
						<h4 class="quote"> "Bonfire is the undying flame that every loyal Aggie carries in their heart for the school." </h4>
						<p class="description"> 
							Student Bonfire is also a 501(c)(3) non-profit organization that helps farmers and Habitat for Humanity clear land in the Bryan-College Station area for 
							agricultural development and low-income housing respectively. <br/> <br/>

							The time I've spent with Bonfire has been some of the most intense, grueling moments of my life, and I don't regret a second of it. I'm able to physically see
							the impact I'm having on my community when I'm clearing land, and I've gained a newfound respect for many of my school's traditions and for its history. Most of all,
							I've made many friends who I never would have interacted with otherwise. Personal differences fade away and it's easy to bond when you're all under the same log.
						</p>
					</div>
				</div>
			</div>

			<div id="food-bank" class="tab-content">
				<h2> <a href="https://www.bvfb.org">Brazos Valley Food Bank</a> (2019 - Present) </h2> 
				<div class = "row">
					<div style="flex: 33%">
						<img src="/img/bvfb.jpg" alt=""/>
						<p> A group picture taken after working a shift. I'm in the top right. </p>
					</div>
					<div style="flex: 50%">
						<h4 class="quote" style="margin-right: 5ch;"> "The Brazos Valley Food Bank unites our community to nourish our neighbors in need." </h4>
						<p class="description"> 
							The Brazos Valley Food Bank distributes food and other essential health items to residents in the Brazos, Burleson, Grimes, Madison, Robertson, and 
							Washington counties. It's been given a 4-star rating by Charity Navigator - the nation's largest charity auditor - for 8 years, which puts the BVFB in 
							the top 4% of charities that have been rated. <br/> <br/>

							I've worked multiple two hour shifts across many weekends in the BVFB's warehouse. Responsibilities I've had include: sorting incoming shipments of canned 
							and prepackaged food, cutting, organizing and verifying the freshness of produce, tracking what we do receive so the BVFB can figure out what we need more of, 
							and packaging individual meals for food-insecure children to eat over the weekend. <br/> <br/>
							
							I'm proud of the time I've spent with the BVFB because the work I've done there has helped the people in the community who need it most.
						</p>
					</div>
				</div>
			</div>

			<div id="T3" class="tab-content">
				<h2> <a href="http://launch.tamu.edu/Honors">University Honors</a> (2019 - 2020) </h2> 
				<div class = "row">
					<div style="flex: 33%">
						<img src="/img/sa.jpg" alt=""/>
						<p> The Sophomore Advisors' first picture after training. </p>
					</div>
					<div style="flex: 50%">
						<h4 class="quote" style="margin-right: 5ch;"> 
							"The University Honors Program challenges high-achieving undergraduate students to develop the personal, professional, and intellectual skills 
							they will need to address tomorrow's multifaceted problems." 
						</h4>
						<p class="description"> 
							The University Honors program helped me immerse myself into the college college my freshman year. Not only did Honors connect me to a bunch of other organizations, 
							my Sophomore Advisor (or peer mentor) assisted me in navigating college life. She answered questions I couldn't find figure out and gave me really 
							helpful advice that I wouldn't have ever known to ask for. <br/> <br/>

							I knew I wanted to give back to Honors, so I applied to be a Sophomore Advisor at the end of my freshman year. When I got the position, I was ecstatic, and I'm just 
							as happy about it now after the fact. The work I did was fulfilling. I helped 13 freshmen transition to a new phase in their life just how my own advisor helped me. 
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/JavaScript" src="/js/global.js"></script>
		<script type="text/JavaScript" src="/js/service.js"></script>
	</body>
</html>