/* CSS unique to index.html */

#nav-home { /*make navbar link to current page bold */
    font-weight: bold;
}

#name-span {
    color: rgb(170, 77, 224)
}

#see-more-btn {
    color: white !important;
    border-color:white !important;
}

#see-more-btn:hover, #see-more-btn:active, #see-more-btn:focus {
    color: white !important;
    background-color: rgb(170, 77, 224) !important;
    border-color: rgb(170, 77, 224) !important;
}

.title {
    margin-top: 40vh;
}

h1 {
    font-family: Oswald, sans-serif;
    text-align: center;
    font-size: 38pt;
    margin: 0;
}

.section {
    min-height: 100vh;
}

.nav-link:hover {
    cursor: pointer;
}

.me {
    max-width: 75vw;
    max-height: 30vh;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.stars {
    background-color: red;
    border-color: black;
}

.stars svg {
}


.stars-label {
    background-color: blue;
    text-align: right;
    vertical-align: bottom;
}

#about-wrapper {
    background-color: rgb(231, 235, 243);
    color: black;
    min-width: 100%;
}
