/* Universal */

html {
    font-family: Lato, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    background: #202228;
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 100%;
}

h1 {
    font-family: Oswald, sans-serif;
    text-align: center;
    font-size: 38pt;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    min-height: 101vh;
}

.btn {
    border-radius: 0;
}

/* Home */

.title {
    margin-top: 40vh;
}

#name-span {
    color: rgb(170, 77, 224);
    display: inline-block;
}


#cursor {
    color: rgb(170, 77, 224);
    animation-name: blink;
    animation-iteration-count: 7;
    animation-duration: 300ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#see-more-btn {
    color: white;
    border-color:white;
}

#see-more-btn:hover, #see-more-btn:active, #see-more-btn:focus {
    color: white;
    background-color: rgb(170, 77, 224);
    border-color: rgb(170, 77, 224);
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}




/* Navbar */

.nav-link:hover {
    cursor: pointer;
}

/* About */

.me {
    max-width: 75vw;
    max-height: 30vh;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.stars-label {
    display: flex;
    font-size: 15pt;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
}

.stars {
    display: inline-flex;
    float: left;
    padding-left: 0;
}

.stars svg {
    height: 25pt !important;
}

#about-wrapper, #experience-wrapper {
    background-color: rgb(231, 235, 243);
    color: black;
    min-width: 100%;
}



@media (min-width: 1200px) {
    .stars svg {
        height: 32pt !important;
    }

    .stars-label {
        font-size: 20pt;
    }
}

@media (max-width: 450px) {
    .stars svg {
        height: 20pt !important;
    }

    .stars-label {
        font-size: 14pt !important;
    }
}

/* Projects/Experience */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    position: relative;
    display: inline-flex;
    max-width: 35vh;
}

.gallery-item .text {
    padding-top: 20%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.gallery-item .text:hover {
    opacity: 1;
}

.gallery-item .text p {
    color:blueviolet;
}

.gallery-item img {
    display: inline-flex;
    width: 100%;
}

.modal-fade {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.4s ease;
    transform-origin: center;
}

.modal-fade.show {
    opacity: 1;
    transform: scale(1);
}

.modal-fade.hide {
    opacity: 0;
    transform: scale(0.7);
}

.modal-dialog {
    max-width: 750px;
    height: 750px;
}

.modal-content {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    border-radius: 0;
}


.modal-content h2 {
    font-weight: bold;
}

.modal-content h3 {
    color: rgb(122, 122, 122);
    font-size: larger;
}

.modal-content hr {
    width: 30%;
    color: slategray;
    margin-left: 0;
}

.modal-content .text {
    padding: 10px;
}

.modal-content img {
    width: 100%;
    height: auto;
    align-self: flex-start;
}

.modal-content ul {
    list-style-type: none;
    padding-left: 15px;
}

.modal-content ul li:before {
    content: "-⁠ ";
}

.modal-content .btn {
    margin-top: 10px;
}


.close-modal {
    color: rgb(122, 122, 122);
    font-size: larger;
}

#projects-wrapper {
    background-color: rgb(216, 224, 241);
    color: black;
    min-width: 100%;
}



#projects .gallery-item .text {
    background-color: rgb(216, 224, 241);
}

#experience .gallery-item .text {
    background-color: rgb(231, 235, 243);
}

/* Contact */

#contact-buttons i {
    font-size: 25pt;
}

#contact {
    min-height: 25vh;
    text-align: center;
}

#contact .btn {
    color: rgb(70, 130, 180);
    border-color: rgb(70, 130, 180);
}

#contact .btn:hover, #contact .btn:active, #contact .btn:focus {
    color: white;
    background-color: rgb(70, 130, 180);
    border-color: rgb(70, 130, 180);
}
