/* Universal */
:root {
    --offwhite: #e7ebf3;
    --lightpurple: #aa4de0;
    --grey: #5c5c5c;
    --darkgrey: #444;
    --blue: #4682b4;
    --darkestgrey: #202228;
    --darkergrey: #343a40;
    --purple: #791fad;
    --paleblue: #d8e0f1;
    --darkblue: #0051a8;
}

html {
    font-family: Lato, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 120%;
}

body {
    background: var(--darkestgrey);
    color: var(--offwhite);
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 100%;
}

h1 {
    font-family: Oswald, sans-serif;
    text-align: center;
    font-size: 3.2rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    min-height: 101vh;
}

.btn {
    border-radius: 0;
}

/* Home */

#home {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home h1, #contact {
    color: var(--offwhite);
}

#name-span {
    color: var(--lightpurple);
    display: inline-block;
}


#cursor {
    color: var(--lightpurple);
    animation-name: blink;
    animation-iteration-count: 5;
    animation-duration: 300ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#see-more-btn {
    color: var(--offwhite);
    border-color:var(--offwhite);
}

#see-more-btn:hover, #see-more-btn:active, #see-more-btn:focus {
    color: var(--offwhite);
    background-color: var(--lightpurple);
    border-color: var(--lightpurple);
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}




/* Navbar */

nav.navbar {
    background-color: var(--darkergrey);
    padding-top: 0;
    padding-bottom: 0;
}

nav.navbar .navbar-toggler {
    border: none;
}

.active .nav-link {
    color: var(--offwhite) !important;
}

.nav-link:hover {
    cursor: pointer;
}

/* About */

.far-left {
    opacity: 0;
    transition: 0.7s ease;
    transform: translateX(-10vw);
}

.far-right {
    opacity: 0;
    transition: 0.7s ease;
    transform: translateX(10vw);
}



#profile-picture-container {
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    width: fit-content;
    position: relative;
}

#profile-picture-container img {
    max-width: 75vw;
    max-height: 30vh;
    border-radius: 50%;
}

#profile-picture-container::after {
    content: "";
    width: 95%;
    height: 95%;
    border-style: solid;
    border-width: medium;
    border-color: var(--offwhite);
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border-radius: 100%;
    opacity: 0.5;
}

.stars-label {
    display: flex;
    font-size: 15pt;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
}

.stars {
    display: inline-flex;
    float: left;
    padding-left: 0;
}

.stars svg {
    filter: invert(20%) sepia(0%) saturate(58%) hue-rotate(194deg) brightness(93%) contrast(73%);
    height: 25pt !important;
}

#about-wrapper, #experience-wrapper {
    background-color: var(--offwhite);
    color: var(--darkgrey);
    min-width: 100%;
}

#about .btn-outline-dark, #experience .btn-outline-dark {
    color: var(--darkgrey);
    border-color: var(--darkgrey);
}

#about .btn-outline-dark:hover, #about .btn-outline-dark:focus, #about .btn-outline-dark:active, 
#experience .btn-outline-dark:hover, experience .btn-outline-dark:focus, experience .btn-outline-dark:active {
    background-color: var(--darkgrey);
    color: var(--offwhite);
}



@media (min-width: 1200px) {
    .stars svg {
        height: 32pt !important;
    }

    .stars-label {
        font-size: 20pt;
    }
}

@media (max-width: 450px) {
    .stars svg {
        height: 20pt !important;
    }

    .stars-label {
        font-size: 14pt !important;
    }
}

/* Tiles */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.far-below {
    opacity: 0;
    transition: 0.7s;   
    transform: translateY(20vh); 
}

.tiny {
    opacity: 0;
    transition: 0.5s;
    transform: scale(0.5);
}

.gallery-item {
    position: relative;
    display: inline-flex;
    max-width: 35vh;
}

@media (min-width: 1200px) {
    .gallery-item {
        max-width: 33%;
    }
}

@media (min-width: 400px) {
    .gallery-item .text {
        padding-top: 20% !important;
    }
}

.gallery-item .text {
    padding-top: 10%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    align-self: center;
}

.gallery-item .text:hover {
    opacity: 1;
}


.gallery-item .text p {
    color:var(--purple);
}


.gallery-item img {
    display: inline-flex;
    width: 100%;
}

/* Modals */

.modal-fade {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.4s ease;
    transform-origin: center;
}

.modal-fade.show {
    opacity: 1;
    transform: scale(1);
}

.modal-fade.hide {
    opacity: 0;
    transform: scale(0.7);
}

.modal-dialog {
    max-width: 750px;
    height: 750px;
}

.modal-content {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    border-radius: 0;
}

#projects .modal-content {
    background-color: var(--paleblue);
    color: var(--darkergrey);
}

#experience .modal-content {
    background-color: var(--offwhite);
    color: var(--darkgrey);
}


.modal-content h2 {
    padding-left: 15px;
    font-weight: bold;
}

.modal-content h3 {
    padding-left: 15px;
    /*: var(--grey);*/
    font-size: larger;
}

.modal-content hr {
    width: 30%;
    /*color: var(--grey);*/
    margin-left: 15px;
    height: 2px;
}

.modal-content .text {
    padding: 10px;
}

.modal-content img {
    width: 100%;
    height: auto;
    align-self: flex-start;
}

.modal-content ul {
    list-style-type: none;
    padding-left: 15px;
}

.modal-content ul li:before {
    content: "-⁠ ";
}

.modal-content .btn {
    margin-top: 10px;
}

.modal-content .btn-outline-primary {
    color: var(--grey);
    border-color: var(--darkblue);
}

.modal-content .btn-outline-primary:hover,
.modal-content .btn-outline-primary:focus,
.modal-content .btn-outline-primary:active {
    background-color: var(--darkblue);
    color: #fff;
} 

.close-modal {
    color: var(--darkgrey);
    font-size: larger;
}

@media(max-width: 450px) {
    .modal-content {
        font-size: 0.8rem;
    }
}

.no-click {
    pointer-events: none;
}

.some-above {
    transition: 0.3s;
    opacity: 0;
    transform: translateY(-100%);
}

.some-below {
    transition: 0.3s;
    opacity: 0;
    transform: translateY(100%);
}

/* Projects/Experience */

#projects-wrapper {
    background-color: var(--paleblue);
    color: var(--darkergrey);;
    min-width: 100%;
}

#projects .gallery-item .text {
    background-color: var(--paleblue);
}

#experience .gallery-item .text {
    background-color: var(--offwhite);
}

.close-col {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

/* Contact */

#contact {
    text-align: center;
}

#contact .btn {
    color: var(--blue);
    border-color: var(--blue);
}

#contact .btn:hover, #contact .btn:active, #contact .btn:focus {
    color: var(--offwhite);
    background-color: var(--blue);
    border-color: var(--blue);
}

.blue-filter svg {
    filter: invert(77%) sepia(69%) saturate(4658%) hue-rotate(182deg) brightness(77%) contrast(76%);
}

.white-filter svg {
    filter: invert(100%) sepia(3%) saturate(759%) hue-rotate(288deg) brightness(117%) contrast(84%);
}

#contact svg {
    height: 30pt !important;
    width: auto !important;
    pointer-events: none;
}

/* misc */

.final-pos { /*must be after all other transformative classes to work*/
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
}

