#nav-portfolio {
    font-weight: bold;
}

.card {
    color: black;
    min-width: 500px;
    max-width: 40%;
    margin: 2em;
}

.card:hover { /*make box shadow and card bigger on hover*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}