#nav-about {
    font-weight: bold;
}

.link {
    text-decoration: underline;
}

span {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.about-writing { /*create page-wide, white section with a small box shadow*/
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19)
}