html {
    font-family: Arial, sans-serif;
}

body {
    background: #202228;
    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* CSS that corresponds to the HTML found in navbar.js */

.navbar {
    position: sticky; /*stay at top of screen if user scrolls down */
    top: 0;
    padding: 9px 9px;
    text-align: left;
    z-index: 10; /*navbar stays on top of other elements */
    height: 100%;
}

#nav-placeholder { /* large, invisible, unselectable text that prevents navbar from shifting the rest of the page */
    color: rgba(47, 79, 79, 0);
    font-size: large;
    user-select: none;
}

.navbar a { /* links aren't blue and underlined */
    transition: font-size 0.25s;
    font-size: 100%;
    color: white;
    padding: 10px 10px;
}

.navbar a:hover { /* links grow when hovered */
    font-size: large;
    transition: font-size 0.25s;
}