/* CSS unique to index.html */

#nav-home { /*make navbar link to current page bold */
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 38pt;
    animation: fadeIn ease 1.5s;
    margin: 0;
}

#first-heading {
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#second-heading {
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards; /*text remains visible after animation*/
}

@keyframes fadeIn { /*linearly go from 0 to 100% opacity*/
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#lalit-profile {
    margin-top: 2%;
    opacity: 0;
    border-radius: 50%; /*make picture a circle*/
    display: block; /*center the image*/
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19); /*small, circular shadow going down*/
    animation: fadeIn ease 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.internal-links-div {
    opacity: 0;
    animation: fadeIn ease 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-top: 2%;
    text-align: center;
}

.internal-link {
    transition: font-size 0.25s;
    font-size: 18pt;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
}

.internal-link:hover {
    font-size: 20pt;
    transition: font-size 0.25s;
}

.internal-links-placeholder { /*keeps the internal links from shifting everything else*/
    font-size: 20pt;
    color: rgba(0, 0, 0, 0);
    user-select: none;
}

hr {
    opacity: 0;
    animation: fadeIn ease 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    width: 20%;
}

.external-links-div {
    opacity: 0;
    animation: fadeIn ease 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    text-align: center;
}

.external-links-div a {
    text-decoration: none;
}


.link-icon {
    filter: brightness(0) saturate(100%); /*make visible pixels black*/
    transition: filter 0.25s;
    width: 3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.link-icon:hover { /*remove filters on hover*/
    filter: none;
    transition: filter 0.5s;
}

